@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lexend+Deca:wght@100..900&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&family=Madimi+One&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lexend+Deca:wght@100..900&family=Madimi+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Deca:wght@100..900&family=Madimi+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Kotta+One&family=Lexend+Deca:wght@100..900&family=Madimi+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(241, 245, 241);
}

.supplier_details {
  display: grid;
  grid-template-columns: ;
  gap: 100px;
}
.supplier-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(183, 235, 190, 0.05);
}

.order-details {
  background: #dcffcc;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(183, 235, 190, 0.05);
}

.Order {
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.supplier-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #1aac83;
}
.supplier-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.supplier-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #e44b4b;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.Order h2 {
  margin: 0 0 10px 0;
  font-size: 2em;
  color: #211951;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.order-details p {
  margin: 0;
  font-size: 0.9em;
  color: #333;
}

.order-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #baffb4;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/*new supplier form*/
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #1aac83;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e44b4b;
  color: #e44b4b;
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid #e44b4b;
}
.paymentcontainer {
  width: 750px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #0e0d0d;
  border-radius: 5px;
  align-items: center;
  background-color: #7cdb53;
  justify-content: center;
  flex-direction: column;
}

.paymentcontainer label {
  display: block;
  margin-bottom: 10px;
}

.paymentcontainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0e0d0d;
  border-radius: 5px;
}

.paymentcontainer button {
  background-color: #1f5028;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.paymentcontainer button:hover {
  background-color: #026b02;
}

.paymentcontainer h1 {
  text-align: center;
  font-size: 1.5em;
}
.row {
  display: flex;
}
.expiryDate {
  margin-left: 180px;
}
.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selection select {
  padding: 10px 20px;
}

.input-border {
  border: 1px solid #0e0d0d;
  border-radius: 5px;
}

.error {
  color: red;
}
.supplier_details input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;

  width: 300px;
}

.supplier_details button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #03e042;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.supplier_details button:hover {
  background-color: #0056b3;
}
