@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Lexend+Deca:wght@100..900&family=Madimi+One&display=swap');

body {
  background-color: rgb(241, 245, 241);
}

.order-details {
  background: #dcffcc;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(183, 235, 190, 0.05);
}

.Order {
  background: #98d083;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.Order h2 {
  margin: 0 0 10px 0;
  font-size: 2em;
  color: #211951;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.order-details p {
  margin: 0;
  font-size: 0.9em;
  color: #333;
}

.order-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #baffb4;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.paymentcontainer {
  background-image: url("../assest/fruit2.jpg");
  width: 750px;
  height: 500px;
  margin: 25px auto;
  padding: 40px;
  border: 1px solid #0e0d0d;
  border-radius: 5px;
  align-items: center;
  background-color: #c3faaf;
  justify-content: center;
  flex-direction: column;
}

.paymentcontainer label {
  display: block;
  margin-bottom: 10px;
}

.paymentcontainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #0e0d0d;
  border-radius: 5px;
}

.paymentcontainer button {
  background-color: #56946b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.paymentcontainer button:hover {
  background-color: #026b02;
}

.paymentcontainer h1 {
  text-align: center;
  font-size: 1.5em;
}
.row {
  display: flex;
}
.expiryDate {
  margin-left: 180px;
}
.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selection select {
  padding: 10px 20px;
}

.input-border {
  border: 1px solid #0e0d0d;
  border-radius: 5px;
}
